In [5]:
# Connect to Oracle Databse

import pandas as pd
from sqlalchemy import create_engine

oracle_connection = create_engine('oracle+cx_oracle://system:admin@localhost:1521/xe')
df = pd.read_sql("select * from products order by stock_qty asc",oracle_connection)

In [6]:
df

   product_id    product_name     category   price  stock_qty
0        P015  Recliner Chair    Furniture   400.0         20
1        P014          TV 55"  Electronics   650.0         25
2        P013          TV 40"  Electronics   450.0         30
3        P012         Scanner  Electronics   220.0         35
4        P011         Printer  Electronics   180.0         40
5        P001          Laptop  Electronics  1000.0         50
6        P005     Office Desk    Furniture   300.0         60
7        P007         Monitor  Electronics   200.0         75
8        P004          Tablet  Electronics   500.0         80
9        P019    External HDD  Accessories   120.0         85
10       P016       Bookshelf    Furniture   150.0         90
11       P020      Smartwatch  Electronics   250.0         95
12       P002      Desk Chair    Furniture   250.0        100
13       P018          Router  Electronics    90.0        110
14       P010          Webcam  Accessories    70.0        120
15       P006      Headphones  Electronics   150.0        150
16       P017       Desk Lamp  Accessories    30.0        200
17       P003      Smartphone  Electronics   800.0        200
18       P009        Keyboard  Accessories    45.0        250
19       P008           Mouse  Accessories    25.0        300

In [9]:
# Connect to mysql Databse

import pandas as pd
from sqlalchemy import create_engine

mysql_connection = create_engine('mysql+pymysql://root:Admin%40143@localhost:3308/demo')
df = pd.read_sql("select * from stag_products",mysql_connection)

In [10]:
df

   product_id    product_name     category   price  stock_qty
0        P001          Laptop  Electronics  1000.0         50
1        P002      Desk Chair    Furniture   250.0        100
2        P003      Smartphone  Electronics   800.0        200
3        P004          Tablet  Electronics   500.0         80
4        P005     Office Desk    Furniture   300.0         60
5        P006      Headphones  Electronics   150.0        150
6        P007         Monitor  Electronics   200.0         75
7        P008           Mouse  Accessories    25.0        300
8        P009        Keyboard  Accessories    45.0        250
9        P010          Webcam  Accessories    70.0        120
10       P011         Printer  Electronics   180.0         40
11       P012         Scanner  Electronics   220.0         35
12       P013          TV 40"  Electronics   450.0         30
13       P014          TV 55"  Electronics   650.0         25
14       P015  Recliner Chair    Furniture   400.0         20
15       P016       Bookshelf    Furniture   150.0         90
16       P017       Desk Lamp  Accessories    30.0        200
17       P018          Router  Electronics    90.0        110
18       P019    External HDD  Accessories   120.0         85
19       P020      Smartwatch  Electronics   250.0         95

In [11]:
# file reading using pandas

In [12]:
# Read Excel file
df_excel = pd.read_excel('emp_excel.xlsx')

In [13]:
df_excel

   eno enme  deptno
0    1    A      10
1    2    B      10
2    3    C      20
3    4    D      20
4    5    E      30

In [19]:
# Read json file and store in to parquet
df_json = pd.read_json("supplier_data.json")

In [17]:
# store the data in to parquet file
df_json.to_parquet("supplier_parquet.parquet",engine ='pyarrow')

In [18]:
pd.read_parquet("supplier_parquet.parquet")

,supplier_id,supplier_name,contact_name,contact_email,contact_phone,country,rating,last_order_date
0,1,ABC Distributors,John Doe,johndoe@abcdist.com,+1-555-0100,USA,4.8,2024-11-20
1,2,Global Goods Inc.,Jane Smith,janesmith@globalgoods.com,+1-555-0200,Canada,4.3,2024-11-19
2,3,GreenTech Solutions,Robert Johnson,robert.johnson@greentech.com,+44-20-7946-0100,UK,4.6,2024-11-18
3,4,EuroWare,Emily White,emily.white@euro-ware.com,+49-30-9876-5432,Germany,4.2,2024-11-22
4,5,Pacific Products,Michael Brown,michael.brown@pacificproducts.com,+61-2-9345-6789,Australia,4.7,2024-11-17
5,6,Fresh Produce Co.,Sarah Taylor,sarah.taylor@freshproduce.com,+33-1-7035-6789,France,4.4,2024-11-21
6,7,TechCore Electronics,David Lee,david.lee@techcore.com,+81-3-4567-8901,Japan,4.9,2024-11-23
7,8,HanYang Trading,Laura King,laura.king@hanyang.com,+86-10-8888-7777,China,4.1,2024-11-16
8,9,Indo Supplies,James Williams,james@indosupplies.com,+91-22-2678-9101,India,4.3,2024-11-25
9,10,LatAm Imports,Olivia Harris,olivia.harris@latamimports.com,+52-55-2345-6789,Mexico,4.5,2024-11-20

In [21]:
df_json.sort_values(by='rating')

,supplier_id,supplier_name,contact_name,contact_email,contact_phone,country,rating,last_order_date
7,8,HanYang Trading,Laura King,laura.king@hanyang.com,+86-10-8888-7777,China,4.1,2024-11-16
3,4,EuroWare,Emily White,emily.white@euro-ware.com,+49-30-9876-5432,Germany,4.2,2024-11-22
1,2,Global Goods Inc.,Jane Smith,janesmith@globalgoods.com,+1-555-0200,Canada,4.3,2024-11-19
8,9,Indo Supplies,James Williams,james@indosupplies.com,+91-22-2678-9101,India,4.3,2024-11-25
5,6,Fresh Produce Co.,Sarah Taylor,sarah.taylor@freshproduce.com,+33-1-7035-6789,France,4.4,2024-11-21
9,10,LatAm Imports,Olivia Harris,olivia.harris@latamimports.com,+52-55-2345-6789,Mexico,4.5,2024-11-20
2,3,GreenTech Solutions,Robert Johnson,robert.johnson@greentech.com,+44-20-7946-0100,UK,4.6,2024-11-18
4,5,Pacific Products,Michael Brown,michael.brown@pacificproducts.com,+61-2-9345-6789,Australia,4.7,2024-11-17
0,1,ABC Distributors,John Doe,johndoe@abcdist.com,+1-555-0100,USA,4.8,2024-11-20
6,7,TechCore Electronics,David Lee,david.lee@techcore.com,+81-3-4567-8901,Japan,4.9,2024-11-23